body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

#camera-feed {
    border: 2px solid #007BFF;
}

#captured-image {
    border: 2px solid #007BFF;
}

#controls-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
}

button:hover {
    background-color: #0056b3;
}
canvas.drawing {
    cursor: crosshair; 
}